.header {
    width: 100%;
    text-align: center;
    background-color: #5858ec;
    color: #fff;
    margin-bottom: 3%;
}

.headerTitle {
    padding: 5% 0;
}


@media screen and (min-width: 1400px) {
    .header {
        margin-bottom: 2%;
    }
}