.stockInfoList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stockInfoItem {
    text-align: center;
}
.stockInfoBtn {
    background-color: #fff;
    padding: 6%;
    width: 70%;
    border-radius: 30px;
    font-size: 1rem;
    border: 2px solid #000;
}