.mainHeader {
    margin: 0;
}

.stockContent {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.stockOverviewList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0;
}