.stockDetailList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 15% 0;
    border-bottom: 2px solid #b6b6b6;
}

.stockDataFetchBtn {
    background-color: #fff;
    padding: 6%;
    margin: 5% 0;
    width: 70%;
    border-radius: 30px;
    font-size: 1rem;
    border: 0px solid #5858ec;
    background-color: #5858ec;
    color: #fff;
}

.stockListItem {
    text-align: center;
}

.positiveIndicator {
    margin-left: 10px;
    color: #15803c;
}

.negativeIndicator {
    margin-left: 10px;
    color: #d0184d;
}

.stockTimeStamp {
    font-size: 0.8rem;
}

.loadingIndicator {
    color: #5858ec;
}

.stockLink {
    text-decoration: none;
}

.stockLinkText {
    margin-right: 2%;
}
