.stockDetailList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.dataFetchBtn {
    background-color: #fff;
    padding: 6%;
    width: 70%;
    border-radius: 30px;
    font-size: 1rem;
    border: 2px solid #000;
}

.stockListItem {
    text-align: center;
}
