.stockList {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stockHeader {
    font-size: 1.2rem;
    text-align: center;
}

.stockListItem {
    padding: 0 10px;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px 5px rgba(188, 188, 188, 0.3);
    border-radius: 10px;
    margin: 10% 0;
}

.stockLogoImg {
    max-width: 150px; 
    max-height: 150px;
    object-fit: contain;
  }

.addStockIcon {
    height: 30px;
    color: #0d6efd;
}

.stockAddBtn {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fafafa;
    gap: 10px;
    color: #0d6efd;
}

.stockAddBtn:hover {
    text-decoration: underline;
}

.addStockCopy {
    font-size: 1.3rem;   
}

.stockDivider {
    width: 70vw;
    border-top: 3px solid #b6b6b6;
}

.loadingIndicator {
    color: #5858ec;
    scale: 1.3;    
    margin-bottom: 20px;
}


.addStockContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #0d6efd;
    text-decoration: none;
    background-color: #3e63dd;
    padding: 15px 30px;
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
    align-items: center;
    border: none;
    margin: 15px 0;
}

.addStockBtn {
    height: 30px;
    
}